.tip-page {
  padding: 60px 0;
  min-height: 80vh;
  h1 {
    color: rgba(204, 144, 64, 1);
    margin-bottom: 30px;
  }
  p {
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
  img {
    max-width: 100%;
    border-radius: 5px;
  }
}
